<div class="nav">
	<ul class="cc">
		<li class="{$currentTabs['run']}"><a href="{@url:credit/credit/run}">积分设置</a></li>
		<li class="{$currentTabs['strategy']}"><a href="{@url:credit/credit/strategy}">积分策略</a></li>
		<li class="{$currentTabs['recharge']}"><a href="{@url:credit/credit/recharge}">积分充值</a></li>
		<li class="{$currentTabs['exchange']}"><a href="{@url:credit/credit/exchange}">积分转换</a></li>
		<li class="{$currentTabs['transfer']}"><a href="{@url:credit/credit/transfer}">积分转账</a></li>
		<li class="{$currentTabs['log']}"><a href="{@url:credit/credit/log}">积分日志</a></li>
	</ul>
</div>