/conf/founder.php

/data/*
!/data/index.html

/themes/extres/

/themes/forum/*
!/themes/forum/default

/themes/portal

!/themes/site/*
!/themes/site/default

/themes/space/*
!/themes/space/default

/attachment/*
!/attachment/index.html

/windid/attachment/*
!/windid/attachment/index.html

/src/extensions/*
!/src/extensions/demo