
			<div class="pop_login">
				<div class="pop_top J_drag_handle">
					<a href="" class="pop_close J_close">关闭</a>
					<strong>您必须设置安全问题</strong>
				</div>
				<form id="J_question_set_form" action="{@url:u/login/dosetting}" method="post" >
				<input type="hidden" name="_statu" value="{$_statu}">
				<input type="hidden" name="v" value="{$v}" />
				<div class="pop_cont">
					<div id="J_login_question_set_tips" style="display:none;" class="tips"></div>
					<dl class="cc">
						<dt style="width:75px;">安全问题：</dt>
						<dd><select class="select_4" name="question" id="J_qustion_select">
<!--#foreach ($safeCheckList as $key => $value) {#-->
						<option value='{$key}'>{$value}</option>
<!--#}#-->
						<!--<option value="-2">自定义安全问题</option> -->
						</select></dd>
					</dl>
					<dl class="cc" style="display:none" id="J_myqustion_dl">
						<dt style="width:75px;">自定义问题：</dt>
						<dd><input type="text" name="myquestion" value="" class="input length_4"></dd>
					</dl>
					<dl class="cc">
						<dt style="width:75px;">你的答案：</dt>
						<dd><input type="text" class="input length_4" name="answer"></dd>
					</dl>
<!--#if ($verify) {#-->
					<dl class="cc dl_cd">
						<dt style="width:75px;">验证码：</dt>
						<dd>
							<input id="J_head_login_code" type="text" class="input length_4 mb5" name="code">
							<div id="J_verify_code"></div>
						</dd>
					</dl>
<!--#}#-->
				</div>
				<div class="pop_bottom">
					<button type="submit" class="btn btn_submit">登录</button>
				</div>
				</form>
			</div>
<script type="text/javascript">
$(function(){
	
	var login_question_set_tips = $('#J_login_question_set_tips');

	//自定义问题
	var myqustion_dl = $('#J_myqustion_dl');
	$('#J_qustion_select').on('change', function(){
		if(this.value == '-4') {
			myqustion_dl.show();
		}else{
			myqustion_dl.hide();
		}
	});
	
	//提交
	var form = $('#J_question_set_form'),
		btn = form.find('button:submit');
	form.ajaxForm({
		dataType : 'json',
		beforeSubmit : function (arr, $form, options) {
			Wind.Util.ajaxBtnDisable(btn);
		},
		success : function (data, statusText, xhr, $form) {
			Wind.Util.ajaxBtnEnable(btn);
			if(data.state === 'success') {
				Wind.Util.formBtnTips({
					wrap: btn.parent(),
					msg : '设置成功 即将跳转',
					callback : function(){
						window.location.href = decodeURIComponent(data.referer);
					}
				});
			}else{
				login_question_set_tips.html('<div class="tips_icon_error">'+ data.message +'</div>').show();
			}
		}
	});
	
});
</script>