/vendor
/composer.lock
/windframework
/phpwind9/conf/database.php
/phpwind9/conf/founder.php
/phpwind9/data/
/phpwind9/themes/extres/
/phpwind9/themes/portal/
/phpwind9/attachment/
/phpwind9/windid/attachment/
/phpwind9/src/extensions/*
!/phpwind9/src/extensions/demo
