<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">
	<div class="nav">
		<ul class="cc">
			<li class="current"><a href="{@url:admin/u/manage/run}">用户管理</a></li>
		</ul>
	</div>
	<div class="h_a">提示信息</div>
	<div class="mb10 prompt_text">
		<ol>
			<li>用户名和电子邮箱支持模糊搜索。用户名或电子邮箱输入“a” 则检索出所有以a开头的用户名或电子邮箱。</li>
			<li>可以对用户的基本信息、积分信息、用户组，以及用户产生的内容进行管理。</li>
		</ol>
	</div>
	<div class="mb10"><a class="btn J_dialog" href="{@url:admin/u/manage/add}" title="添加用户" role="button"><span class="add"></span>添加用户</a></div>
	<div class="h_a">搜索</div>
	<div class="search_type cc mb10">
		<form action="{@url:admin/u/manage/run}" method="post">
		<input type="hidden" name="page" value="{$page}">
		<label>用户组：</label>
		<select name="gid[]" size="5" class="mr10" multiple>
			<option value="-1" {@Pw::isSelected(Pw::inArray(-1, $args['gid']))}>不限制</option>
			<!--#foreach($groups as $item) {#-->
				<option value="{$item['gid']}" {@Pw::isSelected(Pw::inArray($item['gid'], $args['gid']))}>{$item['name']}</option>
			<!--#}#-->
		</select>
		<label>用户名包含：</label><input name="username" type="text" class="input length_2 mr10" value="{$args['username']}">
		<label>UID：</label><input name="uid" type="number" class="input length_1 mr10" value="{$args['uid']}">
		<label>电子邮箱：</label><input name="email" type="text" class="input mr10" value="{$args['email']}">
		<button type="submit" class="btn">搜索</button>
		</form>
	</div>
		<!--# if ($list) { #-->
	<div class="table_list">
		<table width="100%">
			<thead>
				<tr>
					<td width="30">UID</td>
					<td>用户名</td>
					<td>电子邮箱</td>
					<td>注册时间</td>
					<td>最后登录时间</td>
					<td>操作</td>
				</tr>
			</thead>
		<!--#foreach ($list as $key => $item) {#-->
			<tr>
				<td>{$item['uid']}</td>
				<td>{$item['username']}</td>
				<td>{$item['email']}</td>
				<td>{@Pw::time2str($item['regdate'], 'Y-m-d H:i:s')}</td>
				<td>{@Pw::time2str($item['lastvisit'], 'Y-m-d H:i:s')}</td>
				<td><a href="{@url:u/manage/edit?uid=$item['uid']}" class="mr10" title="编辑">[编辑]</a>
					<a href="{@url:u/manage/clear?uid=$item['uid']}" class="mr10 J_dialog" title="清理">[清理]</a>
					<a href="{@url:u/forbidden/run?key=2&value=$item['username']}" title="禁止">[禁止]</a></td>
			</tr>
		<!--#}#-->
		</table>
	</div>
	<page tpl='TPL:common.page' page='$page' count='$count' per='$perPage' url='u/manage/run' args='$args'/>
		<!--# } else { #-->
			<div class="not_content_mini"><i></i>啊哦，没有符合条件的用户！</div>
		<!--# } #-->
	
</div>
<template source='TPL:admin.common.footer' />
</body>
</html>