<div class="searchArea">
  <div class="searchAreas">
    <h1 class="dn">
      <a href="{@url:app/search/index/run}" title="" >   <!--# if($__css = Wekit::C('site', 'css.logo')) { #-->
        <!--后台logo上传-->
        <img src="{@Pw::getPath($__css)}" alt="{@Wekit::C('site','info.name')}">
        <!--# } else { #-->
        <img src="{@theme:site.images}/logo.png" alt="{@Wekit::C('site','info.name')}">
        <!--# } #--></a>
    </h1>
    <div class="search_area" style="position:relative;z-index:2;">
      <div class="search_label">
            <ul>
    		    <!--# foreach($stypes as $k=>$v){#-->
    	        <li class='{@Pw::isCurrent($k==$src)}' ><a href="{$v['url']}" >{$v['name']}</a></li>
              <!--#}#-->
            </ul>
      </div>
      <div class="search_area1">
        <div class="search_l">
    			<form action="{@url:app/search/$src/run}" method="post">
            <input type="text" class="search_input"  name="keywords" id="keyword"autocomplete=off value="{$args['keywords']}" style='color:#333' onclick="javascript:if(this.value=='请您输入要查询的关键词'){this.value='';this.style.color='#333';}" />
    			<button type="submit" class="search_but">搜 索</button>
    	   </form>
            <div class="search_box1">
            	<ul>

                </ul>
            </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="search_key">
          <strong>热点推荐：</strong>
          <!--# foreach($hots as $k=>$v){#-->
      	   <a href='{$v['url']}' title='{$v['keywords']}'>{$v['keywords']}</a>
          <!--#}#-->
      	 <!--# if ($count) { #-->
                  <font style="color:blue;padding-left:50px; ">所有结果：<span class="red">{$count}</span>条，用时:<span class="red">{$exectime}</span>秒</font>
      	 <!--# } #-->	
      </div>
    </div>
  </div>
</div>