<template source='TPL:common.sidebar_mod_my' load='true' />
<template source='TPL:common.sidebar_mod_my_forum' load='true' />
<pw-drag id="sidebar_1"/>
<template source='TPL:common.sidebar_mod_forum' load='true' />
<component tpl='TPL:tag.common_hot_model' class='SRV:tag.srv.PwTagService' method='getHotTags' args="0','10"/>
<template source='TPL:common.sidebar_mod_user' load='true' />
<pw-drag id="sidebar_thread"/>
<advertisement id='Site.Sider.Btm' sys='1'/>
<!--design role="segment" id="linkdemo"/-->
