
<!-- 数据格式定义：$__tpl_data = array('name' => '' , 'value' => '' , 'items' => '')  -->
<!-- name:radio名称,默认值为radio；value:radio当前值,默认值为0；items:为radio的选项,默认一个项 -->
<!--# isset($__tpl_data['name']) || $__tpl_data['name'] = 'select';
isset($__tpl_data['items']) || $__tpl_data['items'] = array( array('value' => '0', 'text' => 'test0'), array('value' => '1', 'text' => 'test1'));  
isset($__tpl_data['value']) || $__tpl_data['value'] = '0';  #-->

<ul class="switch_list cc">
<!--# foreach($__tpl_data['items'] as $__v){#-->
	<li><label><input type="radio" name="{$__tpl_data['name']}" value="{$__v['value']}" {@Pw::ifcheck($__v['value'] == $__tpl_data['value'])}><span>{$__v['text']}</span></label></li>
<!--# } #-->
</ul>
