<!doctype html>
<html>
<head>
<template source='TPL:common.head' load='true' />
<link href="{@theme:css}/fans.css?v={@NEXT_RELEASE}" rel="stylesheet" />
</head>
<body>
<div class="wrap">
<template source='TPL:common.header' load='true' />
	<div class="main_wrap">
		<div class="bread_crumb">
			<a href="{@url:}" class="home" title="{@C:site.info.name}">首页</a><em>&gt;</em>
			<a href="{@url:my/friend/run}">找人</a><em>&gt;</em>
			<a href="{@url:my/friend/run}">推荐关注</a>
		</div>
		<div class="main cc">
			<div class="main_body">
				<div class="main_content cc">
					<div class="box_wrap fans_page">
						<template source="TPL:bbs.mine_tab"  load='true' />
						<div class="content_type">
							<ul class="cc">
								<li class="current"><a href="{@url:my/friend/run}">推荐关注</a></li>
								<li class="line"></li><li><a href="{@url:my/friend/friend}">可能认识</a></li>
								<li class="line"></li><li><a href="{@url:my/friend/search}">查找关注</a></li>
							</ul>
						</div>
						<!--# if ($userList) { #-->
						<div class="fans_list">
							<!--# foreach ($userList as $key => $value) { 
								$birthday = $value['byear'] ? '生日：' . $value['byear'] . '年'.$value['bmonth'].'月'.$value['bday'].'日' : '';
								$profile = $value['profile'] ? '  自我介绍：'.$value['profile'] : '';
							#-->
							<dl class="cc J_friends_items">
								<dt><a data-uid="{$value['uid']}" class="J_user_card_show" href="{@url:space/index/run?uid=$value['uid']}"><img class="J_avatar" src="{@Pw::getAvatar($value['uid'], 'small')}" data-type="small" width="50" height="50" alt="{$value['username']}" /></a></dt>
								<dd>
									<div class="title">
										<a href="{@url:space/index/run?uid=$value['uid']}" data-uid="{$value['uid']}" class="name J_user_card_show">{$value['username']}</a>
										<!--# $gender = $value['gender'] == 1 ? 'women' : 'man';
											$online = Pw::checkOnline($value['lastvisit']) ? 'ol' : 'unol';
										 #-->
										<span class="{$gender}_{$online}"></span>
									</div>
									<div class="num">
										关注<a href="{@url:space/follows/run?uid=$value['uid']}">{$value['follows']}</a><span>|</span>粉丝<a href="{@url:space/fans/run?uid=$value['uid']}">{$value['fans']}</a><span>|</span>帖子<a href="{@url:space/thread/run?uid=$value['uid']}">{$value['postnum']}</a>
									</div>
									<div class="action">{$birthday}</div>
									<div class="action">{$profile} </div>
									<div class="attribute">
										<a href="{@url:my/follow/add}" class="core_follow J_fans_follow" data-uid="{$value['uid']}" data-role="follow">加关注</a>
									</div>
								</dd>
							</dl>
							<!--# } #-->
						</div>
						<!--# } else { #-->
						<div class="nofollow_list"><div class="hd">啊哦，暂时还没有推荐的人哦！</div></div>
						<!--# } #-->
					</div>
				</div>
			</div>
			<div class="main_sidebar">
				<template source='TPL:common.sidebar_1' load='true' />
			</div>
		</div>
	</div>
<template source='TPL:common.footer' load='true' />
<script>
var URL_UNFOLLOW = "{@url:my/follow/delete/}",
		URL_FOLLOW = "{@url:my/follow/add/}";
Wind.use('jquery', 'global', GV.JS_ROOT +'pages/my/fansFollow.js?v='+ GV.JS_VERSION);
</script>
</div>

</body>
</html>