<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">
	<div class="nav">
		<div class="return">
		<a href="{@url:appcenter/app/run}">返回上一级</a>
		</div>
		<ul class="cc">
			<li class="current"><a href="{@url:appcenter/develop/edit?alias=$app['alias']}">设置</a></li>
		<li><a href="{@url:appcenter/develop/edithook?alias=$app['alias']}">hook</a></li>
		<li><a href="{@url:appcenter/develop/editxml?alias=$app['alias']}">xml</a></li>
		</ul>
	</div>
<div class="h_a">提示信息</div>
	<div class="prompt_text">
		<ul>
			<li>该功能仅供应用开发者使用，通过创建应用可以生成一个最简单的demo。开发者可以基于这个demo继续开发。</li>
			<li>应用开发文档请参考《云平台文档中心》，有疑问请至phpwind官方论坛开发者论坛交流。</li>
			<li>在应用开发之前，请先在phpwind云平台创建应用，获取“应用标识”。</li>
		</ul>
	</div>
<div class="h_a">应用设置</div>
<form class="J_ajaxForm" method="post" action="{@url:appcenter/develop/doEdit}">
<div class="table_full">
	<table width="100%">
		<col class="th" />
		<col width="310" />
		<col />
		<tr>
			<th>应用标识(alias)</th>
			<td>
				<input type="text" class="input length_5 disabled" name="alias" value="{$app['alias']}" required disabled="disabled">
				<input type="hidden" name="alias" value="{$app['alias']}">
			</td>
			<td><div class="fun_tips">
			创建后不可修改，如果必须修改，请参见<a href="#" title="一般情况下不建议更改这个应用标识。如果确实要更改，请手动搜索替换你的应用代码中的所有涉及使用到的这个标识值，并更改Manifest.xml中的alias值。卸载原先应用并在本地安装中重新安装。">帮助说明</a></div></td>
		</tr>
		<tr>
			<th>应用名称</th>
			<td>
				<span class="must_red">*</span>
				<input type="text" class="input length_5" name="name" value="{$app['name']}" required>
			</td>
			<td><div class="fun_tips"></div></td>
		</tr>
		<tr>
			<th>应用描述</th>
			<td>
				<textarea name="description" class="length_5">{$app['description']}</textarea>
			</td>
			<td><div class="fun_tips">应用简要介绍</div></td>
		</tr>
		<tr>
			<th>应用版本</th>
			<td><span class="must_red">*</span>
				<input type="text" class="input length_5" name="version" value="{$app['version']}" required>
			</td>
			<td><div class="fun_tips"></div></td>
		</tr>
		<tr>
			<th>适用phpwind版本</th>
			<td><span class="must_red">*</span>
				<input type="text" class="input length_5" name="pwversion" value="{$app['pwversion']}" required>
			</td>
			<td><div class="fun_tips"></div></td>
		</tr>
		<tr>
			<th>作者名称</th>
			<td>
				<input type="text" class="input length_5" name="author" value="{$app['author_name']}">
			</td>
			<td><div class="fun_tips">应用作者名称</div></td>
		</tr>
		<tr>
			<th>作者email</th>
			<td>
				<input type="text" class="input length_5" name="email" value="{$app['author_email']}">
			</td>
			<td><div class="fun_tips"></div></td>
		</tr>
		<tr>
			<th>作者网站</th>
			<td>
				<input type="text" class="input length_5" name="website" value="{$app['website']}">
			</td>
			<td><div class="fun_tips">官方网站</div></td>
		</tr>
	</table>
</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<button class="btn btn_submit mr10 J_ajax_submit_btn" type="submit">提交</button>
	</div>
</div>
</form>
<template source='TPL:admin.common.footer' />
</div>

</body>
</html>