<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap J_check_wrap">
<div class="nav">
		<ul class="cc">
			<li class="current"><a href="{@url:app/search/manage/run}">基本设置</a></li>
		</ul>
	</div>
<div class="h_a">版权信息</div>
<div class="table_full">
		<table width="100%">
			<col class="th" />
			<col width="400" />
			<col />
            <tr>
				<th>作者</th>
				<td><a href="http://www.phpwind.co" target="_blank">PHPWIND教程</a></td>
				<td></td>
			</tr>
            <tr>
				<th>官方网站</th>
				<td><a href="http://www.phpwind.co" target="_blank">www.phpwind.co</a></td>
				<td></td>
			</tr>
            <tr>
				<th>QQ</th>
				<td>作者：89652519 元芳：86216140</td>
				<td></td>
			</tr>
            <tr>
				<th>邮箱</th>
				<td>89652519@qq.com</td>
				<td></td>
			</tr>
		</table>
	</div>
	<form class="J_ajaxForm" data-role="list" action="{@url:app/search/manage/doRun}" method="post">
	<div class="h_a">本地搜索设置</div>
	<div class="table_full">
		<table width="100%">
			<col class="th" />
			<col width="400" />
			<col />
            
			<tr>
				<th>功能开启</th>
				<td>
					<ul class="switch_list cc">
						<li><label><input type="radio" name="conf[isopen]" value="1" {@Pw::ifcheck($conf['isopen'] == 1)}><span>开启</span></label></li>
						<li><label><input type="radio" name="conf[isopen]" value="0" {@Pw::ifcheck($conf['isopen'] == 0)}><span>关闭</span></label></li>
					</ul>
				</td>
				<td><div class="fun_tips">开启后，本地搜索功能才可以使用</div></td>
			</tr>
		</table>
	</div>
    <div class="h_a">搜索显示设置</div>
    	<div class="table_full">
		<table width="100%">
			<col class="th" />
			<col width="400" />
			<col />
            
			<tr>
				<th>搜索方式</th>
				<td>
					<ul class="three_list cc">
            <!--# foreach($stypes as $k=>$v){#-->
						<li><label><input type="checkbox" value="{$k}" name="conf[types][]" {@Pw::ifcheck(Pw::inArray($k, $conf['types']))}><span>{$v['name']}</span></label></li>
            <!--#}#-->
					</ul>
				</td>
				<td><div class="fun_tips">请至少选定一种搜索方式。</div></td>
			</tr>
		</table>
	</div>
    <div class="h_a">SEO设置</div>
    	<div class="table_full">
		<table width="100%">
			<col class="th" />
			<col width="400" />
			<col />
            
			<tr>
				<th>标题</th>
				<td>
					<ul class="three_list cc">
                    <input name="conf[seo_title]" value="{$conf['seo.title']}" class="input length_5" type="text">
					</ul>
				</td>
				<td><div class="fun_tips">可用标签：{sitename}</div></td>
			</tr>
			<tr>
				<th>关键词</th>
				<td>
					<ul class="three_list cc">
                    <input name="conf[seo_keyword]" value="{$conf['seo.keyword']}" class="input length_5" type="text">
					</ul>
				</td>
				<td><div class="fun_tips">可用标签：{sitename}</div></td>
			</tr>
			<tr>
				<th>描述</th>
				<td>
					<ul class="three_list cc">
                    <input name="conf[seo_desc]" value="{$conf['seo.desc']}" class="input length_5" type="text">
					</ul>
				</td>
				<td><div class="fun_tips">可用标签：{sitename}</div></td>
			</tr>
		</table>
	</div>
	<div class="btn_wrap">
		<div class="btn_wrap_pd">
			<button class="btn btn_submit J_ajax_submit_btn" type="submit">提交</button>
		</div>
	</div>
	</form>
</div>
<template source='TPL:admin.common.footer' />
</body>
</html>