<div class="content">
	<template source="profile_run_tab" load="true" />
	<form id="J_pw_edit" action="{@url:profile/index/doeditemail}" method="post" >
	<div class="profile_ct">
		<dl class="cc">
			<dt>登录密码：</dt>
			<dd><span class="must_red">*</span><input type="password" name="passwd" id="J_old_pwd" class="input length_5" data-checkurl=""><span id="J_tip_passwd"></span></dd>
		</dl>
		<dl class="cc">
			<dt>电子邮箱：</dt>
			<dd><span class="must_red">*</span>
			<input type="text" class="input length_5 J_email_match" name="email" value="{$userinfo['email']}"/><span id="J_tip_email"></span>
			</dd>
		</dl>
		<dl class="cc">
			<dt>&nbsp;</dt>
			<dd><button type="submit" class="btn btn_submit btn_big mr10">提交</button></dd>
		</dl>
	</div>
	</form>
</div>
<script>
Wind.ready(document, function(){
	Wind.use('jquery', 'global', 'ajaxForm', 'validate', GV.JS_ROOT +'pages/profile/profilePwdQa.js?v=' +GV.JS_VERSION);
});
</script>
