<div class="content">
	<div class="profile_nav">
		<ul>
			<li class="current"><a href="{@url:profile/password/run}">修改密码</a></li>
			<li><a href="{@url:profile/password/question}">安全问题设置</a></li>
		</ul>
	</div>
	<form id="J_pw_edit" action="{@url:profile/password/edit}" method="post">
	<div class="profile_ct password_list">
		<dl class="cc">
			<dt>原密码：</dt>
			<dd><span class="must_red">*</span><input id="J_old_pwd" data-checkurl="{@url:profile/password/checkOldPwd}" type="password" name="oldPwd" value="" class="input length_5"><span id="J_tip_oldPwd"></span></dd>
		</dl>
		<dl class="cc">
			<dt>新密码：</dt>
			<dd><input data-tips="{$pwdReg}" id="J_newPwd" type="password" name="newPwd" value="" class="input length_5" data-pwdcheck="{@url:profile/password/checkpwd}" data-pwdstrong="{@url:profile/password/checkpwdStrong}"><span id="J_tip_newPwd"></span></dd>
		</dl>
		<dl class="cc">
			<dt>确认密码：</dt>
			<dd><input type="password" name="rePwd"  class="input length_5"><span id="J_tip_rePwd"></span></dd>
		</dl>
		<dl class="cc">
			<dt>&nbsp;</dt>
			<dd><button type="submit" class="btn btn_submit btn_big mr10">提交</button></dd>
		</dl>
	</div>
	</form>
</div>
<script>
Wind.ready(document, function(){
	Wind.use('jquery', 'global', 'ajaxForm', 'validate', GV.JS_ROOT +'pages/profile/profilePwdQa.js?v=' +GV.JS_VERSION);
});
</script>
