<!--# if($type == 1){ #-->
<div class="design_layout_style" role="structure" id="{$structName}">
	<div class="design_layout_hd">
		<span class="design_layout_title">100%结构</span>
	</div>
	<div class="design_layout_ct">
		<div class="box"></div>
	</div>
</div>
<!--# } #-->
<!--# if($type == 2){ #-->
	<div class="design_layout_style  design_layout_1_1" role="structure" id="{$structName}">
		<div class="design_layout_hd">
			<span class="design_layout_title">1:1结构</span> <span class="design_layout_title">1:1结构</span> <span class="design_layout_title">1:1结构</span>
		</div>
		<div class="design_layout_ct">
			<div class="design_layout_1_1_left">
				<div class="box"></div>
			</div>
			<div class="design_layout_1_1_right">
				<div class="box"></div>
			</div>
		</div>
	</div>
<!--# }#-->
<!--# if($type == 3){ #-->
	<div class="design_layout_style design_layout_1_2" role="structure" id="{$structName}">
		<div class="design_layout_hd">
			<span class="design_layout_title">1:2结构</span>
		</div>
		<div class="design_layout_ct">
			<div class="design_layout_1_2_left">
				<div class="box"></div>
			</div>
			<div class="design_layout_1_2_right">
				<div class="box"></div>
			</div>
		</div>
	</div>
<!--# } #-->
<!--# if($type == 4){ #-->
	<div class="design_layout_style design_layout_2_1" role="structure" id="{$structName}">
		<div class="design_layout_hd">
			<span class="design_layout_title">2:1结构</span>
		</div>
		<div class="design_layout_ct">
			<div class="design_layout_2_1_left">
				<div class="box"></div>
			</div>
			<div class="design_layout_2_1_right">
				<div class="box"></div>
			</div>
		</div>
	</div>
<!--# } #-->
<!--# if($type == 5){ #-->
	<div class="design_layout_style design_layout_1_3" role="structure" id="{$structName}">
		<div class="design_layout_hd">
			<span class="design_layout_title">1:3结构</span>
		</div>
		<div class="design_layout_ct">
			<div class="design_layout_1_3_left">
				<div class="box"></div>
			</div>
			<div class="design_layout_1_3_right">
				<div class="box"></div>
			</div>
		</div>
	</div>
<!--# } #-->
<!--# if($type == 6){ #-->
	<div class="design_layout_style design_layout_3_1" role="structure" id="{$structName}">
		<div class="design_layout_hd">
			<span class="design_layout_title">3:1结构</span>
		</div>
		<div class="design_layout_ct">
			<div class="design_layout_3_1_left">
				<div class="box"></div>
			</div>
			<div class="design_layout_3_1_right">
				<div class="box"></div>
			</div>
		</div>
	</div>
<!--# } #-->
<!--# if($type == 7){ #-->
	<div class="design_layout_style design_layout_1_1_1" role="structure" id="{$structName}">
		<div class="design_layout_hd">
			<span class="design_layout_title">1:1:1结构</span>
		</div>
		<div class="design_layout_ct">
			<div class="design_layout_1_1_1_left">
				<div class="box"></div>
			</div>
			<div class="design_layout_1_1_1_cont">
				<div class="box"></div>
			</div>
			<div class="design_layout_1_1_1_right">
				<div class="box"></div>
			</div>
		</div>
	</div>
<!--# } #-->
<!--# if($type == 8){ #-->
	<div class="design_layout_style design_layout_6_5_4" role="structure" id="{$structName}">
		<div class="design_layout_hd">
			<span class="design_layout_title">6:5:4结构</span>
		</div>
		<div class="design_layout_ct">
			<div class="design_layout_6_5_4_left">
				<div class="box"></div>
			</div>
			<div class="design_layout_6_5_4_cont">
				<div class="box"></div>
			</div>
			<div class="design_layout_6_5_4_right">
				<div class="box"></div>
			</div>
		</div>
	</div>
<!--# } #-->