<!--# if ($threads) { #-->
<div class="type_list" aria-label="排序筛选">
	<h2>排序筛选</h2>
<!--# 
$searchUrl = Wekit::load('EXT:search.controller.IndexController')->getUrlArgs($args, 'orderby');
#-->
	<ul class="cc" id="hashpos_ttype">
		<li class="{@Pw::isCurrent('lastpost_time' == $args['orderby'])}"><a href="{@url:app/search/thread/run?orderby=lastpost_time}{$searchUrl}">回复时间</a></li>
		<li class="{@Pw::isCurrent('created_time' == $args['orderby'])}"><a href="{@url:app/search/thread/run?orderby=created_time}{$searchUrl}">发帖时间</a></li>
	</ul>
</div>
<!--# } #-->