/*#
===================
@explain: 话题
@copyright: Copyright 2012,phpwind.com
@author: longwenid@gmail.com
$Id: tag.css 24448 2013-01-30 09:31:12Z yanchixia $
===================
#*/

/*
===================
话题页
===================
*/
.tag_page{
}

/*
===================
导航
===================
*/
.tag_nav{
	margin-bottom:10px;
}
.tag_nav li{
	float:left;
	margin-right:10px;
}
.tag_nav li a{
	display:block;
	line-height:28px;
	height:28px;
	overflow:hidden;
	padding:0 15px;
	color:#666;
	font-size:14px;
	float:left;
}
.tag_nav li a:hover{
	background-color:#dbdbdb;
}
.tag_nav li.current a{
	text-decoration:none;
	background-color:#9b9b9b;
	background-position:22px -40px;
	box-shadow:0 2px 2px #888 inset;
	border-radius:3px;
	color:#fff;
}

/*
===================
话题内容列表
===================
*/
.tag_page .hd{
	padding:5px 10px;
	background:#f7f7f7;
	overflow:hidden;
	border-bottom:1px solid #e9e9e9;
	margin-bottom:10px;
}
.tag_page .hd h2{
	font-size:12px;
}
.tag_page .hd em{
	color:#ccc;
	margin:0 10px;
}
.tag_page .hd .fr{
	color:#578cca;
	display:none;
}
.tag_page .hd:hover .fr,
.tag_page .hover .fr{
	display:block;
}

/*
===================
话题详细信息
===================
*/
.tag_info_box{
	margin-bottom:20px;
	position:relative;
}
.tag_info_box .banner{
	float:left;
	margin-right:15px;
}
.tag_info_box .name{
	margin-bottom:10px;
	overflow:hidden;
}
.tag_info_box .name h3{
	display:inline;
	margin-right:15px;
}
.tag_info_box .num{
	margin-bottom:10px;
	overflow:hidden;
}
.tag_info_box .num ul{
}
.tag_info_box .num li{
	float:left;
	padding:0 20px 0 0;
	color:#666;
}
.tag_info_box .num li.none{
	border:0 none;
}
.tag_info_box .num em{
	color:#000;
	font-weight:700;
}
.tag_info_box .share{
	float:right;
	color:#666;
	border:1px solid #e4e4e4;
	line-height:20px;
	padding-left:5px;
}
.tag_info_box .share:hover,
.tag_info_box .share_hover{
	border-color:#c1c1c1;
	text-decoration:none;
}
.tag_info_box .share em{
	display:inline-block;
	background:#f7f7f7;
	border-left:1px solid #e4e4e4;
	padding:0 3px;
	margin-left:5px;
	font-family:Simsun;
}
.tag_info_box .share_hover em{
	border-color:#c1c1c1;
	background:#fff;
	padding-bottom:1px;
	position:relative;
	z-index:1;
}
.tag_info_box .notice{
	overflow:hidden;
	color:#666;
}
.tag_info_box .more{
	margin-left:10px;
	font-family:Simsun;
}

/*
===================
话题-更多话题
===================
*/
.tag_more_list{
	padding:10px;
}
.tag_more_list li{
	background:#e8f2f9;
	float:left;
	margin-right:20px;
	margin-bottom:10px;
	border-radius: 5px;
	padding:5px 10px;
	white-space:nowrap;
}
.tag_more_list li em{
	font-size:12px;
	padding-left:3px;
}


/*
===================
话题-会员列表
===================
*/
.tag_uesr_list{
	overflow:hidden;
	padding-top:5px;
}
.tag_uesr_list ul{
	margin-left:-20px;
}
.tag_uesr_list li{
	width:100px;
	margin-left:30px;
	height:150px;
	float:left;
	display:inline;
}
.tag_uesr_list li img{
	vertical-align:top;
}
.tag_uesr_list li a{
	display:block;
}
.tag_uesr_list li p a{
	background:#f6f6f6;
	height:22px;
	line-height:22px;
	overflow:hidden;
	padding:0 5px;
	display:block;
	text-align:center;
	color:#0079b4;
}

/*
===================
热门话题
===================
*/
.tag_hot_list{
	padding:5px 15px 15px;
}
.tag_hot_list h2{
	font-size:14px;
	margin-bottom:10px;
}
.tag_hot_list li{
	border-bottom:1px dotted #e4e4e4;
	line-height:26px;
	height:26px;
	overflow:hidden;
}
.tag_hot_list li a{
	display:block;
	float:left;
	width:155px;
	overflow:hidden;
	height:26px;
	margin-right:10px;
	color:#666;
}
.tag_hot_list li .num{
	padding-left:20px;
	background:url(../../images/tags/hot_list.png) 0 center no-repeat;
	font-family:Simsun;
	color:#999;
}

/*
===================
进度型话题列表
===================
*/
.tag_hotlist{
	padding-bottom:30px;
	font-family:"Microsoft Yahei";
}
.tag_hotlist .hd{
	height:50px;
	line-height:50px;
	overflow:hidden;
	border-bottom:1px solid #dfdfdf;
	padding:0 25px;
	font-size:14px;
	color:#666;
}
.tag_hotlist .hd .title{
	display:inline-block;
	width:260px;
}
.tag_hotlist .hd .degree{
	display:inline-block;
	width:270px;
}
.tag_hotlist .ct dl{
	height:60px;
	line-height:60px;
	border-top:1px solid #fff;
	border-bottom:1px solid #dfdfdf;
}
.tag_hotlist .ct dt{
	width:560px;
	float:left;
	position:relative;
	height:60px;
}
.tag_hotlist .ct dt .title{
	font-size:16px;
	width:250px;
	padding:0 10px 0 25px;
	float:left;
	overflow:hidden;
}
.tag_hotlist .ct dt .title a{
	color:#333;
}
.tag_hotlist .ct .bg{
	height:12px;
	float:left;
	background:#e8edf0;
	margin-top:24px;
}
.tag_hotlist .ct dt .num{
	display:none;
	color:#666;
	padding-top:18px;
	line-height:22px;
}
.tag_hotlist .ct dl:hover .bg,
.tag_hotlist .ct dl.current .bg{
	display:none;
}
.tag_hotlist .ct dl:hover .num,
.tag_hotlist .ct dl.current .num{
	display:block;
}
.tag_hotlist .ct dd{
	float:left;
	width:360px;
	height:60px;
}
.tag_hotlist .ct dd a{
	float:left;
	margin:9px 10px 0 0;
}
.tag_hotlist .ct dd a img{
	float:left;
}

/*
===================
话题分组
===================
*/
.side_cate_list{
	padding:10px 15px;
}
.side_cate_list li{
	padding:2px 0;
	height:20px;
}
.side_cate_list #J_group_edit_wrap{
	height:28px;
}
.side_cate_list li .icon_del,
.side_cate_list li .icon_edit{
	display:none;
	margin:2px 0 0 5px;
}
.side_cate_list li:hover .icon_del,
.side_cate_list li:hover .icon_edit,
.side_cate_list li.hover .icon_del,
.side_cate_list li.hover .icon_edit{
	display:block;
}
.side_cate_list li .input{
	margin:0 3px 0 0;
	width:100px;
	padding:2px;
}
.side_cate_list li a{
	color:#666;
}
.side_cate_list li .btn{
	margin:0 3px 0 0;
}
.side_cate_list li em{
	color:#999;
	padding-left:5px;
}
.side_cate_list .add{
	display:block;
	line-height:25px;
	background: url(../../images/tags/add.png) 0 center no-repeat;
	color:#5697bd;
	padding-left:15px;
}

/*
===================
话题独立页面
===================
*/
.tag_page_view .content_nav{
	margin-bottom:10px;
}


/*
===================
话题内容列表
===================
*/
.tag_lists_wrap{
	color:#444;
}
.tag_lists_wrap dl{
	border-bottom:1px dashed #e6e6e6;
	padding:0 0 10px;
	margin:0 0 10px;
}
/*头像*/
.tag_lists_wrap .face{
	float: left;
	width: 64px;
	padding:3px 0;
}
.tag_lists_wrap .face a{
	display:block;
}
/*右侧内容*/
.tag_lists_wrap .text_content{
	margin:0 0 0 65px;
}
.tag_lists_wrap .content{
	margin-bottom:5px;
	overflow:hidden;
}
.tag_lists_wrap .content img{
	vertical-align:top;
}
/*用户名*/
.tag_lists_wrap .content .name{
	font-weight:700;
	font-size:14px;
}
/*标题*/
.tag_lists_wrap .content .title{
	font-weight:700;
	font-size:14px;
	color:#333;
}
/*简介*/
.tag_lists_wrap .descrip{
	padding:5px 0 0;
}
.tag_lists_wrap .descrip img{
	vertical-align:top;
}
/*独立信息*/
.tag_lists_wrap .text{
	margin-bottom:5px;
	font-size:14px;
}
/*更多*/
.tag_lists_wrap .more{
	margin-left:5px;
	white-space:nowrap;
}
/*底部信息*/
.tag_lists_wrap .info{
	color:#999;
	padding-top:5px;
}
.tag_lists_wrap .info a{
	color:#999;
}
.tag_lists_wrap .info i{
	font-style:normal;
	margin:0 5px;
	color:#E6E6E6;
}
.tag_lists_wrap .info .right{
	float:right;
}
.tag_lists_wrap .info .right a{
	color:#568cca;
}

/*屏蔽*/
.tag_lists_wrap .shield{
	float:right;
	color:#568cca;
	visibility:hidden;
}
.tag_lists_wrap dl:hover .shield,
.tag_lists_wrap dl.current .shield{
	visibility:inherit;
}

