/*#
===================
@explain: 任务
@copyright: Copyright 2012,phpwind.com
@author: longwenid@gmail.com
$Id: task.css 24448 2013-01-30 09:31:12Z yanchixia $
===================
#*/


/*
===================
任务列表
===================
*/
.task_page{
	overflow:hidden;
	padding:0 0 50px;
}
.task_list{
	padding:0 0 15px;
}
.task_list dl{
	border-bottom:1px dotted #e4e4e4;
	padding:15px 0;
}
.task_list dl.dl_complete dd{
	padding-bottom:15px;
}
.task_list dt{
	float:left;
	width:100px;
	clear:left;
}
.task_list dt img{
	display:block;
}
.task_list dd{
	margin:0 100px 0 100px;
	_display:inline-block;
	color:#666;
}
.task_list dd p{
	margin-bottom:5px;
}
.task_list dd p.tar{
	float:right;
	margin-top:-58px;
	height:30px;
	margin-right:-90px;
	position:relative;
}
.task_list .name{
	color:#333;
}
.task_list .btn{
	width:60px;
}
.task_list button.btn{
	width:80px;
}

/*
===================
进度条
===================
*/
.task_list .progress_wrap{
	display:inline-block;
	width:80px;
	position:relative;
}
.task_list .progress_wrap em{
	position:absolute;
	width:78px;
	text-align:center;
	color:#fff;
	font-family:Tahoma;
	left:0;
	font-size:10px;
	line-height:20px;
	_line-height:13px;
	top:0;
}
.task_list .progress,
.task_list .progress span{
	background-image:url(../../images/task/progress.png);
}
.task_list .progress{
	width:78px;
	background-color:#efefef;
	height:8px;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	border:1px solid #a4a4a4;
	border-radius:5px;
	overflow:hidden;
}
.task_list .progress span{
	background-color: #afc82e;
	display:inline-block;
	height:8px;
	position:absolute;
	margin-top:-1px;
	left:-1px;
	border:1px solid #81a435;
	border-radius:5px;
	background-position:0 -10px;
}







