		<div class="box">
				<div class="space_user_info">
					<div class="face"><img class="J_avatar" src="{@Pw::getAvatar($space->spaceUid,'big')}" data-type="big" width="180" height="180" /></div>
					<h2 class="name">{$space->spaceUser['username']}</h2>
					<!--# if($space->tome != 2){ #-->
					<div class="operate cc">
						<!--# if($space->tome >= 4){ #-->
						<a class="follow unfollow J_space_follow J_qlogin_trigger" data-uid="{$space->spaceUid}" data-role="unfollow" href="{@url:my/follow/delete?uid=$space->spaceUid}" >取消关注</a>
						<!--# }else{ #-->
						<a rel="nofollow" class="J_space_follow follow J_qlogin_trigger" data-uid="{$space->spaceUid}" data-role="follow" href="{@url:my/follow/add}"><em></em>加关注</a>
						<!--# } #-->		
						<a rel="nofollow" href="{@url:message/message/pop?uid=$space->spaceUser['uid']}" class="message J_qlogin_trigger J_send_msg_pop" data-name="{$space->spaceUser['username']}"><em></em>写私信</a>
						<hook name="space_user_info" args="array($space)" />
					</div>
					<!--# } #-->	
					<div class="present">{$space->spaceUser['sign']}</div>
					<div class="num">
						<ul>
							<li><a href="{@url:space/follows/run?uid=$space->spaceUid}"><span>{$space->spaceUser['follows']}</span><em>关注</em></a></li>
							<li><a href="{@url:space/fans/run?uid=$space->spaceUid}"><span>{$space->spaceUser['fans']}</span><em>粉丝</em></a></li>
							<li class="tail"><a href="{@url:space/thread/run?uid=$space->spaceUid}"><span>{$space->spaceUser['postnum']}</span><em>帖子</em></a></li>
						</ul>
					</div>
					<!--# if (Wekit::C('site','medal.isopen')){ #-->
					<div class="medal">
						<ul class="cc">
							<!--# 
								$medalIds = explode(',', $space->spaceUser['medal_ids']);
								$medals = Wekit::load('medal.srv.PwMedalCache')->fetchMedal($medalIds);
								foreach ($medals as $medal){
							#-->
								<li><a rel="nofollow" href="{@url:medal/index/run}"><img src="{$medal['icon']}" title="{$medal['name']}" width="30" height="30" alt="{$medal['name']}"/></a>
								</li>
							<!--# } #-->	
						</ul>
					</div>
					<!--# } #-->
					<!--# 
					$punchService = Wekit::load('space.srv.PwPunchService');
					list($punchOpen,$punchFriendOpen) = $punchService->getPunchConfig();
					if ($punchOpen && ($space->tome == 2 || ($space->tome == 3 && $punchFriendOpen))) {
							list($punchStatus,$punchButton,$punchData) = $punchService->getSpacePunch($space);
							$punchStatus = $punchStatus ? '' : 'punch_widget_disabled';
							if ($space->tome == 2) {
								$punchUrl = WindUrlHelper::createUrl('space/punch/punch');
								$spaceTome = '你';
							} else {
								$punchUrl = WindUrlHelper::createUrl('space/punch/dofriend?friend='.$space->spaceUser['uid']);
								$spaceTome = 'Ta';
							}
							list($monthDay,$weekDay) = $punchService->formatWeekDay(Pw::getTime());
					 #-->
						<div class="punch_widget {$punchStatus}" id="J_punch_widget" style="display:none;">
							<div class="date">{$monthDay}<span>{$weekDay}</span></div>
							<div class="cont"><a id="J_punch_mine" data-role="space" href="{$punchUrl}" class="btn_punch">{$punchButton}</a></div>
						</div>
						<!--# if ($punchData) { #-->
						<div style="display:none;"><a href="{@url:space/index/run?username=$punchData['username']}">{$punchData['username']}</a> 已帮{$spaceTome}领取{$punchData['cNum']}{$punchData['cUnit']}{$punchData['cType']}</div>
						<!--# } #-->
					<!--# } #-->
				</div>
			</div>
<script>
	var SPACE_FOLLOW = "{@url:my/follow/add}",
		SPACE_UNFOLLOW = "{@url:my/follow/delete}";
</script>