<!doctype html>
<html>
<head>
<template source='TPL:admin.common.head' />
</head>
<body>
<div class="wrap">

<!--创始人开始-->
<div class="h_a">提示信息</div>
<div class="mb10 prompt_text">
	<ol>
		<li>创始人拥有后台所有权限，若无特殊情况请勿更改</li>
		<li>您可以添加新创始人，或删除其它创始人</li>
		<!--#if(!$is_writeable){#-->
		<li><span class="red">你的配置文件不可写，无法对创始人进行管理操作</span></li>
		<!--#}#-->
	</ol>
</div>
<div class="h_a">创始人管理</div>
<div class="table_full">
<form id="J_founder_form" action="{@url:founder/add}" method="post">
	<table width="100%">
		<col class="th" />
		<col />
<!--# foreach($list as $user){ #-->
		<tr>
			<th>{$user}</th>
			<td>
			<a class="J_dialog mr5" href="{@url:founder/edit?username=$user}" title="编辑">[编辑]</a>
			<a class="J_ajax_del" href="{@url:founder/del}" data-pdata="{'username': '{$user}'}">[取消创始人权限]</a></td>
		</tr>
<!--# } #-->

		<tr>
			<th><input name="username" type="text" class="input length_2"></th>
			<td>
				<button type="submit" class="btn" id="J_founder_sub"><span class="add"></span>添加创始人</button>
			</td>
		</tr>
	</table>
</form>
</div>
<!--创始人结束-->


</div>
<template source='TPL:admin.common.footer' />
<script>
Wind.use('dialog', 'ajaxForm', function(){
	var founder_add_btn = $('#J_founder_sub');

	$('#J_founder_form').ajaxForm({
		dataType : 'json',
		beforeSubmit: function(arr, $form, options) {
			var text = founder_add_btn.text();
			//按钮文案、状态修改
			founder_add_btn.text(text +'中...').prop('disabled',true).addClass('disabled');
		},
		success : function(data, statusText, xhr, $form) {
			var text = founder_add_btn.text();
			//按钮文案、状态修改
			founder_add_btn.removeClass('disabled').prop('disabled', false).text(text.replace('中...', '')).parent().find('span').remove();

			if(data.state == 'success') {
				Wind.dialog.open( decodeURIComponent(data.referer) ,{
					onClose : function() {
						$('#J_founder_sub').focus();	//关闭时让触发弹窗的元素获取焦点
					},
					title: '添加创始人'
				});
			}else if(data.state == 'fail'){
				$( '<span class="tips_error">' + data.message + '</span>' ).appendTo(founder_add_btn.parent()).fadeIn( 'fast' );
				founder_add_btn.removeProp('disabled').removeClass('disabled');
			}
			
		}
	});
})
</script>
</body>
</html>