<!doctype html>
<html>
<head>
<template source='common.head' />
</head>
<body>
	<div class="wrap">
		<div id="home_toptip"></div>
		<h2 class="h_a">系统信息</h2>
		<div class="home_info">
			<ul>
				<li><em>软件版本</em> <span>{$sysinfo['wind_version']}<a
						href="https://github.com/medz/phpwind/releases"
						target="_blank">查看最新版本</a></span></li>
				<li><em>PHP版本</em> <span>{$sysinfo['php_version']}</span></li>
				<li><em>MYSQL版本</em> <span>{$sysinfo['mysql_version']}</span></li>
				<li><em>服务器端信息</em> <span>{$sysinfo['server_software']}</span>
				</li>
				<li><em>最大上传限制</em> <span>{$sysinfo['max_upload']}</span></li>
				<li><em>最大执行时间</em> <span>{$sysinfo['max_excute_time']}</span>
				</li>
				<li><em>邮件支持模式</em> <span>{$sysinfo['sys_mail']}</span></li>
			</ul>
		</div>
		<h2 class="h_a">版权声明</h2>
        <div class="home_info" id="home_devteam">
            <ul>                                                                                                                                              
                <li><em>版权所有</em><span>www.phpwind.com</span></li>
                <li><em>用户协议</em><span><a href="http://www.phpwind.com/law.html" target="_blank">查看用户协议</a></span></li>
            </ul>
        </div>
	</div>
	<template source='common.footer' />
<!--# 
$siteUrl = $_SERVER ['HTTP_HOST'];
$ip = Wind::getApp()->getRequest()->getClientIp();
$ts = PW::getTime();
#-->
</body>
</html>
